<header>
  <a href="" class="logo"> LOGO </a>
  <nav>
    <% if (!req.session.loggedin) { %>

    <a href="/" class="menu_home">Home</a>
    <a href="/sobre" class="menu_sobre">Sobre</a>
    <a href="/login" class="menu_login">Login</a>
    <a href="/cadastro" class="menu_cadastro">Cadastro</a>
    <a href="/dashboard" class="menu_dashboard">Dashboard</a>
    <% } else { %>
    <a href="/logout">sair</a>
    <% } %>
  </nav>
</header>
