<table>
  <tbody>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
    </tr>

    <% for( let index = 1; index < 50; index++) { %>

    <tr>
      <% if (index % 5 == 0) { %>

      <td><%= index %></td>
      <td>NOME</td>
      <td>EMAIL</td>
      <td>CELULAR</td>
    </tr>
    <%}%> <%}%>
  </tbody>
</table>
