<% for( let ind = 1; ind < 2; ind++) { %>
<table>
  <tbody>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
    </tr>
  </thead>
</table>
</tbody>
<%}%> 
<% for( let index = 1; index < 8; index++) { %>
<table>
  <tbody>
    <thead>
      <tr>
        <td><%= index %></td>
        <td>NOME</td>
        <td>EMAIL</td>
        <td>CELULAR</td>
      </tr>
    </thead>
  </tbody>
</table>
<%}%>
