<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>

    <img
      src="/static/images/erro-404-2-1024x684.jpg"
      style="width: 100%; height: 100%"
    />

    <%- include("../partials/rodape") %>
  </body>
</html>
